This is the form_tag form helper for #create
<h3>Create a new character here:</h3>

<%=form_tag characters_path do%>
    <label >Name:</label>
    <%=text_field_tag :'character[name]'%><br>

    <label >color:</label>
    <%=text_field_tag :'character[color]'%> <br>

    <label >catchphrase:</label>
    <%=text_field_tag :'character[catchphrase]'%><br>
    
    <label >species:</label>
    <%=text_field_tag :'character[species]'%><br>

    <input type="submit" value="Create Character!">

<%end%>