this is the #show page <br>
<%=@character.name%> <br>
<%=@character.color%> <br>
<%=@character.catchphrase%> <br>
<%=@character.species%> <br>

<button><%=link_to 'Edit this Character',edit_character_path(@character)%> </button>